#octopus {
  display: block;
  margin: auto;
  margin-top: 150px;
  z-index: -1
}

#hat {
  position: absolute;
  margin-top: -350px;
  z-index: 0;
  padding-left: 275px;
}

#glasses {
  display: block;
  z-index: 1;
  position: absolute;
  margin-top: -185px;
  padding-left: 345px;

}
